/*
Plugin Name: Bulk Images to Posts
Plugin URI: http://www.mezzaninegold.com
Description: Bulk upload images to create posts / custom posts with featured images.
Version: 3.0
Author: Mezzanine gold
Author URI: http://mezzaninegold.com
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@import url("grid.css");
@import url("dropzone.css");

.categorydiv div.tabs-panel, .customlinkdiv div.tabs-panel, .posttypediv div.tabs-panel, .taxonomydiv div.tabs-panel, .wp-tab-panel {
	max-height: 100%;
}

.postbox { min-width: 100px; }
.buttonbox { margin-bottom: 10px;}
p.uncheck { float: left; margin: 0 0 10px; }
p.submit { float: right; margin: 0 0 10px; padding: 0; }
.submit input { padding: 0; }
#the-dropped { border: 4px dashed #2ea2cc; margin:10px; min-height: 310px; }

.successModal {

}

.categorydiv { clear: both;}

.checkbox-container {}
.checkbox-container label { display: block; }
.checkbox-container ul {}
.checkbox-container ul ul { list-style: none;  display: none;  }
.checkbox-container ul { list-style: none;  display: block; }
.checkbox-container input[type="checkbox"] {}

.saved:before {
    font-family: "dashicons";
    content: "\f147";
    float: right;
    color: green;
}
.removed:before {
    font-family: "dashicons";
    content: "\f335";
    float: right;
    color: red;
}